* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
/* body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

.bm-burger-button {
  position: absolute;
}