body {
  margin: 0;
  font-family: 'Ubuntu',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}
.title {
  font-weight: 700;
  font-size: 36px; 
  color: #fff;
}
.subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.text {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}